<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <!-- <link href="./styles/tailwind.min.css" rel="stylesheet"> -->
    <link href="./styles/estilo.css" rel="stylesheet">
    <!-- <meta http-equiv="refresh" content="5"> -->
    <title>Exemplos em vue</title>

    <link rel="preconnect"
        href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"
        crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap"
        rel="stylesheet">



    <script src="../vue.js"></script>
</head>

<body>
    <div id="root">
        <h3> Agora é : {{agora}} conforme created</h3>

        <brhrbr></brhrbr>
        <input v-model="nome">

        <h3> meu nome é : {{nome}}</h3>
        <brhrbr></brhrbr>

        <h3 v-show="visivel"> h3 em v-show - Variável
            visivel </h3>
        <h3 v-if="visivel"> h3 em if - Variável visivel é
            true </h3>
        <!-- <h3 v-else> H3 em esle - Variável visivel é false </h3> -->

        <button v-on:click='toggleVisivel'> toggleVisivel
        </button>

        <br /> <br />
        <hr />
        <h3 v-on:click='addContador'> Contador: {{contador}}
        </h3>

        <button v-on:click='addContador'> addContador
            {{contador}} </button>
        <button v-on:click='zeraContador'> zeraContador
        </button>
        <br /> <br />
        <hr />

        <h3> Mudar fotos </h3>
        <div>
            <div class='flex'>
                <button v-on:click='trocaImagem(-1)'> Menos
                </button>
                <button v-on:click='trocaImagem(1)'> Mais
                </button>

            </div>

            <p> Item atual: {{imagens[imagensE]}}</p>

            <img class='bordme-blue imglimit'
                :src='imagens[imagensE]' alt="imagem">

        </div>


        <div class='flex'>
            Cole o link da foto:
            <input v-model="tempImagem">
            <button v-on:click='addFoto(tempImagem)'>
                Adicionar Foto </button>

        </div>


        <hr />

        <br /> <br />
        <h3> v-html</h3>
        <p> v-html altera o conteúdo html de um container.
        </p>

        <div class='flex'>
            <button v-on:click='addHtml(-1)'> Menos
            </button>
            <button @click='addHtml(1)'> Mais </button>

        </div>
        <br><br>

        <span v-html="htmls[htmlControl]"></span>

        <br><br>
        <hr />

        <div class='flex'>
            Nome:
            <input v-model="tempNome">
            <button v-on:click='addNome(tempNome)'>
                Adicionar Nome </button>
        </div>

        <br />
        <div class='flex'>
            <div class="bloco">
                <p>Sem Filtro:</p>
                <p v-for="nome in arrayDeNomes"> {{nome}}
                </p>
            </div>
            <div class="bloco">
                <p>Com Filtro:</p>
                <p v-for="nome in arrayDeNomes"> {{nome |
                    addRR | makeUppercase }}</p>
            </div>
        </div>

        <h3> Total de nomes é {{totalDeNomes}} </h3>
        <br />
        <p v-for="objeto in arrayDeObjetos">{{objeto.nome}}
            tem {{objeto.idade}} anos de idade.</p>
        <br />

        <brhrbr></brhrbr>
        <h3>Abaixo temos os componentes: </h3>

        <componenta></componenta>
        <componentb></componentb>
        <componentc></componentc>

        <brhrbr></brhrbr>

        <h3>Abaixo temos o componente component-prop que
            está recebendo imagens[imagensE]: </h3>
        <!-- instanciamento do componente e da props: -->
        <component-props :myprop='imagens[imagensE]'>
        </component-props>
        <component-props v-bind:myprop='imagens[imagensE]'>
        </component-props>

        <div class='flex'>
            <button v-on:click='trocaImagem(-1)'> Menos
            </button>
            <button v-on:click='trocaImagem(1)'> Mais
            </button>
        </div>

        <brhrbr></brhrbr>



        <div>

</body>

<script>
    Vue.component('component-props', {
        props: ['myprop'], //props do componente devem ser declaradas no atributo props
        template: `<p> {{myprop}} </p>`  //chamada da prop dentro do remplate
    })
    Vue.component('componenta', { template: `<h1> eu sou o conteúdo do componenta </h1>` })
    Vue.component('componentc', {
        template: `
        <div >
        <a href="https://gilsonpaulo.com.br">componentc</a>
        <br/> <h2>Componenteb abaixo de mim: </h2>  <componenta></componenta></div>   ` })
    Vue.component('componentb', { template: `<button> componentb </button>` })
    Vue.component('brhrbr', { template: `<div> <br/>  <hr/>  <br/> </div>` })


    let root = new Vue({
        el: "#root",
        components: ['componentb', 'componenta', 'componentc'],
        data: {
            nome: "",
            tempNome: "",
            agora: "",
            visivel: true,
            contador: 0,
            imagens: ['images/tailwind.jfif', 'images/vue.jfif', 'https://i7.pngflow.com/pngimage/14/568/png-angularjs-logo-javascript-security-token-angle-triangle-logo-computer-programming-clipart.png'],
            tempImagem: "",
            imagensE: 0,
            arrayDeNomes: ["Ana", "Beto", "Carlos"],
            totalDeNomes: 3,
            arrayDeObjetos: [
                { nome: "Ana", idade: 45 },
                { nome: "Beto", idade: 35 },
                { nome: "Carlos", idade: 25 },
            ],
            htmlControl: 0,
            htmls: [
                '<a href="#Why-Listeners-in-HTML" class="headerlink" title="Why Listeners in HTML?" data-scroll="">Why Listeners in HTML?</a>',
                '<p>You can also <a href="../api/#keyCodes">define custom key modifier aliases</a> via the global <code>config.keyCodes</code> object:</p>',
                `<button v-on:click='addHtml(1)'> Mais </button>`,
                `<table style="width:100%">
                    <tr>    <th>Firstname</th>    <th>Lastname</th>    <th>Age</th>  </tr>
                    <tr>    <td>Jill</td>    <td>Smith</td>    <td>50</td>  </tr>
                </table>` ]
        },
        methods: {
            trocaImagem: function (i) {
                let temp = this.imagensE + i;
                if (temp > this.imagens.length - 1) {
                    temp = 0
                } else if (temp < 0) {
                    temp = this.imagens.length - 1
                }

                this.imagensE = temp;

            },
            toggleVisivel: function () {
                this.visivel = !this.visivel;
            },
            addContador: function () {
                this.contador++
            },
            zeraContador: function () {
                this.contador = 0;
            },
            addNome: function (item = "") {
                if (!item) {
                    alert("Pelo menos o nome deve estar preenchido.")
                    return
                }

                if (item.length < 2) {
                    alert("Nome com no mínimo 2 caracteres.")
                    return
                }

                this.arrayDeNomes.push(item)
                this.totalDeNomes = this.arrayDeNomes.length
            },
            addFoto: function (item = "") {
                if (!item) {
                    alert("Pelo menos o nome deve estar preenchido.")
                    return
                }

                if (item.length < 2) {
                    alert("Nome com no mínimo 2 caracteres.")
                    return
                }

                this.imagens.push(item)
                // this.totalDeNomes = this.arrayDeNomes.length
            },
            addHtml: function (i) {
                let temp = this.htmlControl + i;
                if (temp > this.htmls.length - 1) {
                    temp = 0
                } else if (temp < 0) {
                    temp = this.htmls.length - 1
                }

                this.htmlControl = temp;

            },
            // liste outros métodos aqui
        },
        filters: {
            makeUppercase: function (value) {
                return value.toUpperCase()
            },
            addRR: function (value) {
                return value + " Rr"
            }
        },
        created: function () {
            var today = new Date();
            var time = today.getDate() + "/" + today.getMonth() + "/" + today.getFullYear() + ", " +
            today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            this.agora = time
        },
        mounted: function () { console.log("criado") },
        updated: function () { console.log("updated") },
        destroyed: function () { console.log("destroyed") }
        //vários outros eventos do ciclo de vida...
    });

</script>

<style scoped>
    .flex {
        display: flex;
        background-color: cornflowerblue;
    }

    .div0 {
        height: 300px;
        width: 50vw;
        border: 1px red solid;
    }
</style>
</body>

</html>