*{
    font-family: 'Montserrat Alternates', sans-serif;
}

.div0{
    height: auto;
    /* width: auto; */
    border: 1px red solid;
}

.bordme-red{
    border: 1px red solid;
}

.bordme-blue{
    border: 1px blue solid;
}


.imglimit{
    height: 200px;
    width: 200px;
}